    <h1>My portfolio</h1>
    <img id="shaq" src="assets/best_shaq.png">
    <p id ="github">Go here to visit git hub</p>

<!-- $("#shaqBody").css("left", + "px");
    $("#shaqHead").css("left", 7 + "px");
    $("#shaqBody").css("top", shaqHeadHeight + "px");
    $("#shaqBody").css("left", 9 + "px");
    $("#shaqThighs").css("top", shaqBodyT + shaqBodyHeight + "px");
    $("#shaqLegL").css("top", shaqLegT + "px");
    $("#shaqLegR").css("top", shaqLegT + "px");
    $("#shaqLegR").css("left", 20 + "px"); -->